# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/

# Logs
log/*.log
*.log

# Project specific
data/
temp_chat.txt
temp_filename.txt
artifacts/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
Untitled.ipynb

# Python tools
.python-version
uv.lock
